@import "../../../styles/variables.scss";
@import "../../../styles/font.scss";

.homeContainer{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.homepageCarousel{
    box-sizing: border-box;
    width: 30vw;
    aspect-ratio: 1/1;
    object-fit: fill;
}

.homepageContent{
    width: 50vw;
    padding-left: 10%;
}

.homepageContent div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.homepageContent div .homePageTitle{
    color: black;
    text-align: end;
}


.homepageContent h2{
    text-align: start;
}

.homepageContent h2:nth-child(3){
    color: $primary-blue;
}

@media screen and (max-width:1300px) {
    .homeContainer{
        flex-direction: column-reverse;
    }

    .homepageCarousel{
        padding-top: 2rem;
        width: 35vw;
    }
    
}

@media screen and (min-aspect-ratio: 21/9){
    .homeContainer{
        width: 80%;
        padding-left: 20%;
    }

    .homepageCarousel{
        width: 100rem;
        height: 40rem;
    }
}