$primary-yellow: #EEFF00;
$primary-blue: #0700C8;


.homeContainer{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-left: #04052e 2px solid;
    border-right: #04052e 2px solid;
    margin: 2vh 0;
    padding: 7vw;
    height: 70vh;
}

.homepageCarousel{
    width: 30rem;
    height: 30rem;
    object-fit: fill;
}

.homepageContent{
    width: 50rem;
    padding-left: 10%;
}

.homepageContent div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.homePageIntroduction{
    font-size: 20pt;
    font-weight: 600;
    width: 65%;
    
}

.homePageTitle{
    font-size: 100pt;
    font-weight: 800;
    text-align: end;
}

.homepageContent .homePageTitle:last-of-type{
    color: $primary-blue;
    text-align: start;
}