@import "../../../styles/variables.scss";
@import "../../../styles/font.scss";
@import "../../../styles/icons.scss";
@import "@coreui/coreui/scss/coreui";


.homeContainer{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.homepageCarousel{
    box-sizing: border-box;
    width: 30vw;
    aspect-ratio: 3/2;

    object-fit: fill;
}

.homepageContent{
    width: 50vw;
    padding-left: 10%;
}

.homepageContent div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.homepageContent div .homePageTitle{
    color: black;
    text-align: end;
}


.homepageContent h2{
    text-align: start;
}

.homepageContent h2:nth-child(3){
    color: $primary-blue;
}

@media screen and (max-width:1300px) {
    .homeContainer{
        flex-direction: column-reverse;
    }

    .homepageCarousel{
        padding-top: 2rem;
        width: 20vw;
    }
    
}
