$primary-gray: #354f52;
$primary-blue: #2ec4b6;
$secondary-gray: #2f3e46;

.header{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 0em 5em;
    background-color: $primary-gray;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    padding: 2em;
}

a:hover{
    color: $primary-blue;
    background-color: $secondary-gray;
    
}

div{
    display: inherit;
}