$primary-blue: #2ec4b6;
$primary-purple: #04052e;
$primary-yellow: #ffd500;

.header{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    background-color: $primary-purple;
    opacity: .9;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    padding: 5vh 2em;
}

a:hover{
    color: $primary-blue;
    background-color: yellow;
    
}

div{
    display: inherit;
}