@import "./core/styles/variables.scss";
@import "./core/styles/font.scss";

.application-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: $primary-yellow;
    background-image: url("../assets/images/backgroundDot.png");
    padding: 5rem;
    height: 100%;

}

.content{
    display: flex;
    justify-content: center;
    margin-top: 7vh;
    height: 70vh;
    width: 99.5%;
    border-left: 3px solid;
    border-right: 3px solid;
    align-items: center;
}
