@import "../../styles/variables.scss";
@import "../../styles/font.scss";

.aboutContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.aboutMeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    height: 60vh;

}

.aboutMeContainer p{
    font-size: 1.5vw;
    width: 100%;
    
}
.aboutMeContainer img{
    box-sizing: border-box;
    width: 20vw;
    aspect-ratio: 1/1;
    object-fit: fill;
    padding-bottom: 2em;
}

.aboutSkillsContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

.aboutSkillsContainer h2{
    font-size: 2vw;
    text-align: start;
    color: $primary-blue;
}

.aboutSkillsContainer li{
    list-style: none;
    font-size: 1vw;
}

.skills{
    width: 70%;
}

.aboutSkillsContainer .links{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;
}

i{
    width: 3vw;
}

i:hover{
    color: $primary-blue;
     fill: red !important;
}

.icon-linkedin{
    content: url("../../../../assets/icons/linkedin_icon.svg");

}

.icon-github{
    content: url("../../../../assets/icons/github_icon.svg");
}

.icon-cv{
    content: url("../../../../assets/icons/cv_icon.svg");
}

.icon-mail{
    content: url("../../../../assets/icons/mail_icon.svg");
}

.icon-phone{
    content: url("../../../../assets/icons/phone_icon.svg");
}

@media screen and (max-width:1300px) {
    .aboutContainer{
        flex-direction: column;
        height: 100%;
    }

    .aboutMeContainer{
        width: 80%;
        height: 40vh;
    }

    .aboutMeContainer img{
        box-sizing: border-box;
        width: 40vw;
        padding: 0;
    }

    .aboutMeContainer p{
        padding: 3em 0;
    }



    .aboutSkillsContainer{
        display: flex;
        flex-wrap: wrap;
        align-items: normal;
        width: 80vw;
        padding-top: 2em;
    }

    .skills{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 100%;
    }


    .aboutSkillsContainer{
        height: 20vh;
    }


    div.links{
        box-sizing: border-box;
        display: flex;
        align-items: center;
        flex-direction: row !important;
        justify-content: space-evenly !important;
        width: 100%;
        padding: 0;
        height: 10vh !important;
    }
    
    
}