<div class="secondaryNav">
    <div>
        <a [routerLink]="['/project','link1']" class="secondaryNavLink">link 1</a>
        <a [routerLink]="['/project','link2']" class="secondaryNavLink">link 2</a>
        <a [routerLink]="['/project','link3']" class="secondaryNavLink">link 3</a>
        <a [routerLink]="['/project','link4']" class="secondaryNavLink">link 4</a>
        <a [routerLink]="['/project','link5']" class="secondaryNavLink">link 5</a>
        <a [routerLink]="['/project', 'link6']"  class="secondaryNavLink">link 6</a>
    </div>
</div>