.secondaryNav{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: white;
}

.secondaryNav div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: calc(100vw - 10rem);
    height: 80%;
    margin: 2vh 5rem;
    border: 1px solid black;
}

.secondaryNavLink{
    text-decoration: none;
    box-sizing: border-box;
    width: calc(100% / 6);
    padding: 4vh 0;
    color: black;
    text-align: center;
    font-weight: 800;
    font-size: 20pt;
}

.secondaryNavLink:hover{
    background-color: rgba(0, 0, 0, 0.06);
}