@import url("https://use.typekit.net/pwb5esr.css");


$primary-yellow: #EEFF00;
$primary-blue: #0700C8;


.application-container{
    display: flex;
    flex-direction: column;
    background: $primary-yellow;
    background-image: url("../assets/images/background_dots.png");
    padding: 5rem;
    width: calc(100vw - 10rem);
    height: calc(100vh - 10rem);
    overflow: hidden;
}

.content{
    display: flex;
    justify-content: center;
    margin: 2vh 0;
    padding-top: 5vh;
    height: 70vh;
    border-left: 3px solid;
    border-right: 3px solid;
}
