@import url("https://use.typekit.net/pwb5esr.css");


$primary-yellow: #EEFF00;
$primary-blue: #0700C8;


.application-container{
    display: flex;
    flex-direction: column;
    background-color: $primary-yellow;
    padding: 5rem;
    width: calc(100vw - 11rem);
    height: calc(100vh - 11rem);
    overflow: hidden;
}
