@import url("https://use.typekit.net/pwb5esr.css");

/* Set the default font family for all elements */
* {
  font-family: "heimat-mono", "sans-serif";
  color: black;
}

/* Styles for other screens (aspect ratio less than 21:9) */

  .title {
    font-size: 7vw;
    font-weight: 800;
  }

  .subtitle {
    font-size: 1.25vw;
    font-weight: 700;
  }

  .textSemiBold {
    font-size: 1vw;
    font-weight: 600;
  }

  .textRegular {
    font-size: .8vw;
    font-weight: 400;
  }

/* Media query for ultrawide screens (aspect ratio greater than or equal to 21:9) */
@media screen and (min-aspect-ratio: 21/9) {

    .title {
    font-size: 5.6vw;
    font-weight: 800;
    }

    .subtitle {
    font-size: 1vw;
    font-weight: 700;
    }

    .textSemiBold {
    font-size: 0.75vw;
    font-weight: 600;
    }

    .textRegular {
    font-size: 0.75vw;
    font-weight: 400;
    }
}

