.icon{
    width: 1em;
    text-align: center;
}

.icon-linkedin{
    content: url("../../../assets/icons/linkedin_icon.svg");

}

.icon-github{
    content: url("../../../assets/icons/github_icon.svg");
}

.icon-cv{
    content: url("../../../assets/icons/cv_icon.svg");
}

.icon-mail{
    content: url("../../../assets/icons/mail_icon.svg");
}

.icon-phone{
    content: url("../../../assets/icons/phone_icon.svg");
}

/* HTML5 */
.icon-html5 {
    content: url("../../../assets/icons/html_icon.svg");
}

/* CSS3 */
.icon-css3 {
    content: url("../../../assets/icons/css3_icon.svg");
}

/* PHP */
.icon-php {
    content: url("../../../assets/icons/php_icon.svg");
}

/* JavaScript, React(Typescript), TailwindCSS */
.icon-javascript {
    content: url("../../../assets/icons/javascript_icon.svg");
}

.icon-typescript {
    content: url("../../../assets/icons/typescript_icon.svg");
}

.icon-react {
    content: url("../../../assets/icons/react_icon.svg");
}

.icon-tailwindcss {
    content: url("../../../assets/icons/tailwindcss_icon.svg");
}

/* Git, NodeJs, Docker, Laravel */
.icon-git {
    content: url("../../../assets/icons/git_icon.svg");
}

.icon-nodejs {
    content: url("../../../assets/icons/node_icon.svg");
}

.icon-docker {
    content: url("../../../assets/icons/docker_icon.svg");
}

.icon-laravel {
    content: url("../../../assets/icons/laravel-icon.svg");
}

/* MySQL, NoSQL, MongoDB */
.icon-mysql {
    content: url("../../../assets/icons/mysql_icon.svg");
}

.icon-nosql {
    content: url("../../../assets/icons/nosql_icon.svg");
}

.icon-mongodb {
    content: url("../../../assets/icons/mongodb_icon.svg");
}

/* Framer-motion */
.icon-framer-motion {
    content: url("../../../assets/icons/framer-motion_icon.svg");
}

/* Jest */
.icon-jest {
    content: url("../../../assets/icons/jest_icon.svg");
}

/* Express */
.icon-express {
    content: url("../../../assets/icons/express_icon.svg");
}

/* react-router */
.icon-react-router {
    content: url("../../../assets/icons/react-router_icon.svg");
}

/* Adobe XD, Photoshop, Illustrator, Premiere Pro, After Effects */
.icon-adobe-xd {
    content: url("../../../assets/icons/adobe-xd_icon.svg");
}

.icon-photoshop {
    content: url("../../../assets/icons/adobe-photoshop_icon.svg");
}

.icon-illustrator {
    content: url("../../../assets/icons/adobe-illustrator_icon.svg");
}

.icon-premiere-pro {
    content: url("../../../assets/icons/adobe-premiere_icon.svg");
}

.icon-after-effects {
    content: url("../../../assets/icons/adobe-after-effects_icon.svg");
}
