.icon{
    width: 1em;
    text-align: center;
}

/* Social Icons */
.icon-linkedin {
    content: url("../../../assets/icons/linkedin_icon.svg");
}

.icon-github {
    content: url("../../../assets/icons/github_icon.svg");
}

.icon-cv {
    content: url("../../../assets/icons/cv_icon.svg");
}

.icon-mail {
    content: url("../../../assets/icons/mail_icon.svg");
}

.icon-phone {
    content: url("../../../assets/icons/phone_icon.svg");
}

/* Technology Icons */
/* HTML5 */
.icon-HTML5 {
    content: url("../../../assets/icons/html_icon.svg");
}

/* CSS3 */
.icon-CSS3 {
    content: url("../../../assets/icons/css3_icon.svg");
}

/* PHP */
.icon-PHP {
    content: url("../../../assets/icons/php_icon.svg");
}

/* JavaScript, React(Typescript), TailwindCSS */
.icon-JavaScript {
    content: url("../../../assets/icons/javascript_icon.svg");
}

.icon-Typescript {
    content: url("../../../assets/icons/typescript_icon.svg");
}

.icon-React {
    content: url("../../../assets/icons/react_icon.svg");
}

.icon-TailwindCSS {
    content: url("../../../assets/icons/tailwindcss_icon.svg");
}

/* Git, NodeJs, Docker, Laravel */
.icon-Git {
    content: url("../../../assets/icons/git_icon.svg");
}

.icon-NodeJs {
    content: url("../../../assets/icons/node_icon.svg");
}

.icon-Docker {
    content: url("../../../assets/icons/docker_icon.svg");
}

.icon-Laravel {
    content: url("../../../assets/icons/laravel-icon.svg");
}

/* MySQL, NoSQL, MongoDB */
.icon-MySQL {
    content: url("../../../assets/icons/mysql_icon.svg");
}

.icon-NoSQL {
    content: url("../../../assets/icons/nosql_icon.svg");
}

.icon-MongoDB {
    content: url("../../../assets/icons/mongodb_icon.svg");
}

/* Framer-motion */
.icon-Framer-motion {
    content: url("../../../assets/icons/framer-motion_icon.svg");
}

/* Jest */
.icon-Jest {
    content: url("../../../assets/icons/jest_icon.svg");
}

/* Express */
.icon-Express {
    content: url("../../../assets/icons/express_icon.svg");
}

/* react-router */
.icon-react-router {
    content: url("../../../assets/icons/react-router_icon.svg");
}

/* angular */
.icon-Angular {
    content: url("../../../assets/icons/angular_icon.svg");
}

.icon-hyperlink{
    content: url("../../../assets/icons/hyperlink_icon.svg");
}