@import "../../styles/variables.scss";
@import "../../styles/font.scss";

.projectContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}