@import "@coreui/coreui/scss/coreui";
@import "../../../styles/icons.scss";

.carouselContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-size: contain;
    aspect-ratio: 16/9;
    background-repeat: no-repeat;
    background-position: center;
}
